use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data.
Create a pandas dataframe, df_iris, from this data.

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import env
import mpl_toolkits.mplot3d
from pydataset import data as py

In [9]:
df_iris = py('iris')

In [11]:
print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [12]:
print(df_iris.shape)

(150, 5)

In [13]:
print(df_iris.columns)

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [14]:
print(df_iris.dtypes)

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [15]:
print(df_iris.describe())

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
# Standardize the data attributes for the Iris dataset.
from sklearn.datasets import load_iris
from sklearn import preprocessing
# load the Iris dataset
iris = load_iris()
print(iris.data.shape)
# separate the data and target attributes
X = iris.data
y = iris.target
# standardize the data attributes
standardized_X = preprocessing.scale(X)

(150, 4)

In [24]:
# Normalize the data attributes for the Iris dataset.
from sklearn.datasets import load_iris
from sklearn import preprocessing
# load the iris dataset
iris = load_iris()
print(iris.data.shape)
# separate the data from the target attributes
X = iris.data
y = iris.target
# normalize the data attributes
normalized_X = preprocessing.normalize(X)

(150, 4)

In [25]:
df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')

FileNotFoundError: [Errno 2] No such file or directory: 'Excel_Exercises.xlsx'

In [26]:

# Read the data from 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing' into a dataframe, df_google.

# print the first 3 rows

# print the number of rows and columns

# print the column names

# print the data type of each column

# print the summary statistics for each of the numeric variables

# print the unique values for each of your categorical variables

KeyError: 'category'

In [27]:

df_google = pd.read_csv('https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv')

In [28]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [29]:
df_google.shape

(891, 12)

In [30]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [31]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [32]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [33]:
df_google['category'].unique()

KeyError: 'category'

 Read the train.xlsx into a dataframe named df_excel.

assign the first 100 rows to a new dataframe, df_excel_sample
print the number of rows of your original dataframe
print the first 5 column names
print the column names that have a data type of object
compute the range for each of the numeric variables.

In [34]:

df_excel = pd.read_excel('train.xlsx')

In [36]:

df_excel_sample = df_excel.head(100)

In [37]:
df_excel_sample

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.00,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.00,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1.0,0.0,113803.0,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.00,0.0,0.0,373450.0,8.0500,NaN,S
5,6.0,0.0,3.0,"Moran, Mr. James",male,NaN,0.0,0.0,330877.0,8.4583,NaN,Q
6,7.0,0.0,1.0,"McCarthy, Mr. Timothy J",male,54.00,0.0,0.0,17463.0,51.8625,E46,S
7,8.0,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.00,3.0,1.0,349909.0,21.0750,NaN,S
8,9.0,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0.0,2.0,347742.0,11.1333,NaN,S
9,10.0,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1.0,0.0,237736.0,30.0708,NaN,C
10,11.0,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.00,1.0,1.0,PP 9549,16.7000,G6,S
11,12.0,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.00,0.0,0.0,113783.0,26.5500,C103,S
12,13.0,0.0,3.0,"Saundercock, Mr. William Henry",male,20.00,0.0,0.0,A/5. 2151,8.0500,NaN,S
13,14.0,0.0,3.0,"Andersson, Mr. Anders Johan",male,39.00,1.0,5.0,347082.0,31.2750,NaN,S
14,15.0,0.0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0.0,0.0,350406.0,7.8542,NaN,S
15,16.0,1.0,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0.0,0.0,248706.0,16.0000,NaN,S
16,17.0,0.0,3.0,"Rice, Master. Eugene",male,2.00,4.0,1.0,382652.0,29.1250,NaN,Q
17,18.0,1.0,2.0,"Williams, Mr. Charles Eugene",male,NaN,0.0,0.0,244373.0,13.0000,NaN,S
18,19.0,0.0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1.0,0.0,345763.0,18.0000,NaN,S
19,20.0,1.0,3.0,"Masselmani, Mrs. Fatima",female,NaN,0.0,0.0,2649.0,7.2250,NaN,C
20,21.0,0.0,2.0,"Fynney, Mr. Joseph J",male,35.00,0.0,0.0,239865.0,26.0000,NaN,S
21,22.0,1.0,2.0,"Beesley, Mr. Lawrence",male,34.00,0.0,0.0,248698.0,13.0000,D56,S
22,23.0,1.0,3.0,"McGowan, Miss. Anna ""Annie""",female,15.00,0.0,0.0,330923.0,8.0292,NaN,Q
23,24.0,1.0,1.0,"Sloper, Mr. William Thompson",male,28.00,0.0,0.0,113788.0,35.5000,A6,S
24,25.0,0.0,3.0,"Palsson, Miss. Torborg Danira",female,8.00,3.0,1.0,349909.0,21.0750,NaN,S
25,26.0,1.0,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1.0,5.0,347077.0,31.3875,NaN,S
26,27.0,0.0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0.0,0.0,2631.0,7.2250,NaN,C
27,28.0,0.0,1.0,"Fortune, Mr. Charles Alexander",male,19.00,3.0,2.0,19950.0,263.0000,C23 C25 C27,S
28,29.0,1.0,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0.0,0.0,330959.0,7.8792,NaN,Q
29,30.0,0.0,3.0,"Todoroff, Mr. Lalio",male,NaN,0.0,0.0,349216.0,7.8958,NaN,S
30,31.0,0.0,1.0,"Uruchurtu, Don. Manuel E",male,40.00,0.0,0.0,PC 17601,27.7208,NaN,C
31,32.0,1.0,1.0,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1.0,0.0,PC 17569,146.5208,B78,C
32,33.0,1.0,3.0,"Glynn, Miss. Mary Agatha",female,NaN,0.0,0.0,335677.0,7.7500,NaN,Q
33,34.0,0.0,2.0,"Wheadon, Mr. Edward H",male,66.00,0.0,0.0,C.A. 24579,10.5000,NaN,S
34,35.0,0.0,1.0,"Meyer, Mr. Edgar Joseph",male,28.00,1.0,0.0,PC 17604,82.1708,NaN,C
35,36.0,0.0,1.0,"Holverson, Mr. Alexander Oskar",male,42.00,1.0,0.0,113789.0,52.0000,NaN,S
36,37.0,1.0,3.0,"Mamee, Mr. Hanna",male,NaN,0.0,0.0,2677.0,7.2292,NaN,C
37,38.0,0.0,3.0,"Cann, Mr. Ernest Charles",male,21.00,0.0,0.0,A./5. 2152,8.0500,NaN,S
38,39.0,0.0,3.0,"Vander Planke, Miss. Augusta Maria",female,18.00,2.0,0.0,345764.0,18.0000,NaN,S
39,40.0,1.0,3.0,"Nicola-Yarred, Miss. Jamila",female,14.00,1.0,0.0,2651.0,11.2417,NaN,C
40,41.0,0.0,3.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1.0,0.0,7546.0,9.4750,NaN,S
41,42.0,0.0,2.0,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1.0,0.0,11668.0,21.0000,NaN,S
42,43.0,0.0,3.0,"Kraeff, Mr. Theodor",male,NaN,0.0,0.0,349253.0,7.8958,NaN,C
43,44.0,1.0,2.0,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1.0,2.0,SC/Paris 2123,41.5792,NaN,C
44,45.0,1.0,3.0,"Devaney, Miss. Margaret Delia",female,19.00,0.0,0.0,330958.0,7.8792,NaN,Q
45,46.0,0.0,3.0,"Rogers, Mr. William John",male,NaN,0.0,0.0,S.C./A.4. 23567,8.0500,NaN,S
46,47.0,0.0,3.0,"Lennon, Mr. Denis",male,NaN,1.0,0.0,370371.0,15.5000,NaN,Q
47,48.0,1.0,3.0,"O'Driscoll, Miss. Bridget",female,NaN,0.0,0.0,14311.0,7.7500,NaN,Q
48,49.0,0.0,3.0,"Samaan, Mr. Youssef",male,NaN,2.0,0.0,2662.0,21.6792,NaN,C
49,50.0,0.0,3.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1.0,0.0,349237.0,17.8000,NaN,S
50,51.0,0.0,3.0,"Panula, Master. Juha Niilo",male,7.00,4.0,1.0,3101295.0,39.6875,NaN,S
51,52.0,0.0,3.0,"Nosworthy, Mr. Richard Cater",male,21.00,0.0,0.0,A/4. 39886,7.8000,NaN,S
52,53.0,1.0,1.0,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1.0,0.0,PC 17572,76.7292,D33,C
53,54.0,1.0,2.0,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1.0,0.0,2926.0,26.0000,NaN,S
54,55.0,0.0,1.0,"Ostby, Mr. Engelhart Cornelius",male,65.00,0.0,1.0,113509.0,61.9792,B30,C
55,56.0,1.0,1.0,"Woolner, Mr. Hugh",male,NaN,0.0,0.0,19947.0,35.5000,C52,S
56,57.0,1.0,2.0,"Rugg, Miss. Emily",female,21.00,0.0,0.0,C.A. 31026,10.5000,NaN,S
57,58.0,0.0,3.0,"Novel, Mr. Mansouer",male,28.50,0.0,0.0,2697.0,7.2292,NaN,C
58,59.0,1.0,2.0,"West, Miss. Constance Mirium",female,5.00,1.0,2.0,C.A. 34651,27.7500,NaN,S
59,60.0,0.0,3.0,"Goodwin, Master. William Frederick",male,11.00,5.0,2.0,CA 2144,46.9000,NaN,S
60,61.0,0.0,3.0,"Sirayanian, Mr. Orsen",male,22.00,0.0,0.0,2669.0,7.2292,NaN,C
61,62.0,1.0,1.0,"Icard, Miss. Amelie",female,38.00,0.0,0.0,113572.0,80.0000,B28,NaN
62,63.0,0.0,1.0,"Harris, Mr. Henry Birkhardt",male,45.00,1.0,0.0,36973.0,83.4750,C83,S
63,64.0,0.0,3.0,"Skoog, Master. Harald",male,4.00,3.0,2.0,347088.0,27.9000,NaN,S
64,65.0,0.0,1.0,"Stewart, Mr. Albert A",male,NaN,0.0,0.0,PC 17605,27.7208,NaN,C
65,66.0,1.0,3.0,"Moubarek, Master. Gerios",male,NaN,1.0,1.0,2661.0,15.2458,NaN,C
66,67.0,1.0,2.0,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0.0,0.0,C.A. 29395,10.5000,F33,S
67,68.0,0.0,3.0,"Crease, Mr. Ernest James",male,19.00,0.0,0.0,S.P. 3464,8.1583,NaN,S
68,69.0,1.0,3.0,"Andersson, Miss. Erna Alexandra",female,17.00,4.0,2.0,3101281.0,7.9250,NaN,S
69,70.0,0.0,3.0,"Kink, Mr. Vincenz",male,26.00,2.0,0.0,315151.0,8.6625,NaN,S
70,71.0,0.0,2.0,"Jenkin, Mr. Stephen Curnow",male,32.00,0.0,0.0,C.A. 33111,10.5000,NaN,S
71,72.0,0.0,3.0,"Goodwin, Miss. Lillian Amy",female,16.00,5.0,2.0,CA 2144,46.9000,NaN,S
72,73.0,0.0,2.0,"Hood, Mr. Ambrose Jr",male,21.00,0.0,0.0,S.O.C. 14879,73.5000,NaN,S
73,74.0,0.0,3.0,"Chronopoulos, Mr. Apostolos",male,26.00,1.0,0.0,2680.0,14.4542,NaN,C
74,75.0,1.0,3.0,"Bing, Mr. Lee",male,32.00,0.0,0.0,1601.0,56.4958,NaN,S
75,76.0,0.0,3.0,"Moen, Mr. Sigurd Hansen",male,25.00,0.0,0.0,348123.0,7.6500,F G73,S
76,77.0,0.0,3.0,"Staneff, Mr. Ivan",male,NaN,0.0,0.0,349208.0,7.8958,NaN,S
77,78.0,0.0,3.0,"Moutal, Mr. Rahamin Haim",male,NaN,0.0,0.0,374746.0,8.0500,NaN,S
78,79.0,1.0,2.0,"Caldwell, Master. Alden Gates",male,0.83,0.0,2.0,248738.0,29.0000,NaN,S
79,80.0,1.0,3.0,"Dowdell, Miss. Elizabeth",female,30.00,0.0,0.0,364516.0,12.4750,NaN,S
80,81.0,0.0,3.0,"Waelens, Mr. Achille",male,22.00,0.0,0.0,345767.0,9.0000,NaN,S
81,82.0,1.0,3.0,"Sheerlinck, Mr. Jan Baptist",male,29.00,0.0,0.0,345779.0,9.5000,NaN,S
82,83.0,1.0,3.0,"McDermott, Miss. Brigdet Delia",female,NaN,0.0,0.0,330932.0,7.7875,NaN,Q
83,84.0,0.0,1.0,"Carrau, Mr. Francisco M",male,28.00,0.0,0.0,113059.0,47.1000,NaN,S
84,85.0,1.0,2.0,"Ilett, Miss. Bertha",female,17.00,0.0,0.0,SO/C 14885,10.5000,NaN,S
85,86.0,1.0,3.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3.0,0.0,3101278.0,15.8500,NaN,S
86,87.0,0.0,3.0,"Ford, Mr. William Neal",male,16.00,1.0,3.0,W./C. 6608,34.3750,NaN,S
87,88.0,0.0,3.0,"Slocovski, Mr. Selman Francis",male,NaN,0.0,0.0,SOTON/OQ 392086,8.0500,NaN,S
88,89.0,1.0,1.0,"Fortune, Miss. Mabel Helen",female,23.00,3.0,2.0,19950.0,263.0000,C23 C25 C27,S
89,90.0,0.0,3.0,"Celotti, Mr. Francesco",male,24.00,0.0,0.0,343275.0,8.0500,NaN,S
90,91.0,0.0,3.0,"Christmann, Mr. Emil",male,29.00,0.0,0.0,343276.0,8.0500,NaN,S
91,92.0,0.0,3.0,"Andreasson, Mr. Paul Edvin",male,20.00,0.0,0.0,347466.0,7.8542,NaN,S
92,93.0,0.0,1.0,"Chaffee, Mr. Herbert Fuller",male,46.00,1.0,0.0,W.E.P. 5734,61.1750,E31,S
93,94.0,0.0,3.0,"Dean, Mr. Bertram Frank",male,26.00,1.0,2.0,C.A. 2315,20.5750,NaN,S
94,95.0,0.0,3.0,"Coxon, Mr. Daniel",male,59.00,0.0,0.0,364500.0,7.2500,NaN,S
95,96.0,0.0,3.0,"Shorney, Mr. Charles Joseph",male,NaN,0.0,0.0,374910.0,8.0500,NaN,S
96,97.0,0.0,1.0,"Goldschmidt, Mr. George B",male,71.00,0.0,0.0,PC 17754,34.6542,A5,C
97,98.0,1.0,1.0,"Greenfield, Mr. William Bertram",male,23.00,0.0,1.0,PC 17759,63.3583,D10 D12,C
98,99.0,1.0,2.0,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0.0,1.0,231919.0,23.0000,NaN,S
99,100.0,0.0,2.0,"Kantor, Mr. Sinai",male,34.00,1.0,0.0,244367.0,26.0000,NaN,S

In [38]:

print(df_excel.shape)

(891, 12)

In [40]:

print(df_excel.columns[:5])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [41]:
print(df_excel.describe().T[['min', 'max']])

              min       max
PassengerId  1.00  891.0000
Survived     0.00    1.0000
Pclass       1.00    3.0000
Age          0.42   80.0000
SibSp        0.00    8.0000
Parch        0.00    6.0000
Fare         0.00  512.3292

Section 1 - iris_db: Using iris data from our mySQL server and the methods used in the lesson above:

1. Acquire, prepare & split your data.




2. Univariate Stats

    For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics
        (using .describe()).

    For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

    Document takeaways & any actions.



3. Bivariate Stats

Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

For each measurement type, compute the descriptive statistics for each species.

For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

Document takeaways & any actions.

Multivariate Stats

Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.

Visualize two numeric variables of the species. Hint: sns.relplot with hue or col

Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

Document takeaways and any actions.